span {
    font-style: italic;

}

.bold {
    font-weight: bold;

}

body {
    margin: 0;
    padding: 0;
}

head {
    padding: 0;
    margin: 0;
}
 
p {
    padding: 0;
    margin: 0;
    display: inline;

}

h1 {
    text-align: center;
}

